 /* #styls {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
  }
.pic{
    position: fixed; 
    left: 48%;
    top: 25%;
    
}
.header{
    position: fixed; 
    left: 29%;
    top: 32%;
}
.talkk {
    position: fixed; 
    left: 20%;
    top: 50%;
}
.talk{
    position: fixed; 
    left: 52%;
    top: 50%;
}
*/

#styles{
    font-family: Arial;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
}
.pic{
    display: flex;
    justify-content: center;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
}
.header{
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
}
#talk{
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
}
.talkk {
    display:inline-block;
    border: 1px solid red;
    
    vertical-align: middle;
}
.talk{
    display:inline-block;
    border: 1px solid rgb(27, 142, 219);
    
    vertical-align: middle;
}
#bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
    
}
.bar1{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 255, 234);
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(173, 23, 23);
}
.bar2{
    height: 300px;
    width: 300px;
    background-color: rgb(98, 0, 255);
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(19, 48, 179);
}
.bar3{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 14, 90);
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(236, 240, 7);
}
#global {
    display: flex;
    
    justify-content: space-around;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
}
.local{
    font-size: large;
    display:inline-block;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
}
#imgs{
    width: 350px;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(221, 9, 9);
}
.img1{
    width: 115px;
    height: 40px;
    border-width: 1px;
    
    border-style: solid;
    border-color: rgb(39, 13, 185);
}
