body{
    background-color:rgb(137, 213, 223);
    font-family:roboto; 
}
nav{
    display: inline;
}
#rewaa {
    text-align:center;

}
#add {
    font-size:large;
    text-align: center;

}
#object {
    width:200px;
    height:180px;
    position:relative;left:42%;
    margin-top:10px;
}
hr{
    color:black;
}

#rewaa {
	color: black;
	font-family: roboto;
	text-align: center;
}
p {
    text-align: center;

}

    .box p {
   			color: red;
   	} 
       article > p {
        font-weight: bold;
        background-color: #333;
        color: #fff;
        padding: .5em;
    }